<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJOxqX-ZLHR0D1hmfnHvclgHJFU7AYFPY">
</script>
<div id="secondscreen">
	<div id="header">Available Berlin Wall tours</div>
	<div id="tourslisting"></div>
	<div id="controls">
		<a href="#" onclick="prev()"><< Previous</a>&nbsp;|&nbsp;
		<a href="#" onclick="playpause()">Play/Pause</a>&nbsp;|&nbsp;
		<a href="#" onclick="next()">Next >> </a>
	</div>
	<div id="map-wrapper">
		<div id="map-canvas"></div>
	</div>
</div>