

<!-- Loading-Screen -->
<div class="loading_wrapper">
	<img class="loader" alt="loader" src="/eddie/apps/workshopespace/img/loader-animation.gif" />
    <div id="hbbtv-text-loading">
		Please select a tour on your second screen
	</div>
</div>
	
<div id="tourtitle"></div>

<div id="display">
	<div id="display_wrapper" class="content_box shadow">
		<div id="player">
			<object type="video/mp4" id="video1" width="100%" height="100%" data="">
			</object>
		</div>
		<div id="europeana">
			<span class="europeanahelper"></span>
			<img id="europeanaimage" src="">
		</div>
		<div id="videoinformation">
			<div id="videoheader"><span class="videotitle"></span>&nbsp;|&nbsp;<span class="videodate"></span></div>
			<div id="videodescription"></div>
		</div>
	</div>
</div>

<!-- Hidden HbbTV Objects -->
<div id="hbbtv_objects_wrapper">
	<object id="app_manager" type="application/oipfApplicationManager"></object>
   	<!--<object id="oipf_config" type="application/oipfConfiguration"></object>-->
</div>

